* {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  margin-top: 25px;
}
form {
  width: 1170px;
  margin: auto;
  display: flex;
  gap: 20px;
}
form input {
  flex-basis: 80%;
  height: 40px;
}
form button {
  flex-basis: 20%;
}
.outerdiv {
  width: 1170px;
  margin: auto;
}
.outerdiv ul {
  list-style: none;
  margin-top: 40px;
}
.outerdiv ul li {
  color: white;
  padding: 10px;
  font-size: 25px;
  margin-bottom: 20px;
  position: relative;
  text-align: left;
  background-color: black;
}
.outerdiv ul li span {
  right: 20px;
  position: absolute;
  cursor: pointer;
}
.completetodo {
  text-decoration: line-through;
  color: red !important;
  background-color: rgb(232, 232, 95) !important;
}
